<div class="about-page">
  <div class="container">
    <div class="text">
      <div class="mat-headline">Hi, I am Minh Chau. <br><br>
        I started learning programming when I was 18. I am intersted in Javascript and hope to become a full-stack
        such as Angular, React, NodeJS. <br><br>
        Here, I write a page about programming and daily life activities. Check out my social media below.</div>
    </div>
    <div class="route">
      <app-nav isBorder2="true"></app-nav>
    </div>

    <app-item></app-item>
  </div>
</div>
